.admin_table{
    border:0.1em solid rgba(192, 187, 187, 0.5);
    height: auto;
    margin-left: 0.1%;
    margin-right: 0.1%;
    margin-top: 1%;
}

.admin_table_back{
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 3%;
    margin-right: 3%;
}

.admin_header {
    border:0.3em groove rgba(150, 150, 150, 0.233);
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    background-color: #e5ebeb;
    display: flex;
    justify-content:space-between;
}

.admin_welcome{
    width: 33%;
}

.admin_datetime{
    margin: auto;
}

.admin_button{
    float: right;
    margin-right: 10%;
}

.admin_button_box{
    display: flex;
    justify-content:flex-end;
    width: 33%;
}

.admin_background{
    background-color: rgb(229, 249, 249);
    width: 100%;
    height: 100%;
    position: absolute;
}